/* 폰트 */
@font-face {
  font-family: 'twaysky';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twaysky.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  font-family: "twaysky";
}

/* 노말라이즈 시작 */
body,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* 노말라이즈 끝 */

/* 라이브러리 시작 */
.inline-grid {
  font-size: 0;
}

.inline-grid>* {
  font-size: 1rem;
  vertical-align: top;
  display: inline-block;
  box-sizing: border-box;
}

.block {
  display: block;
}

.text-right {
  text-align:right;
}

.img-box>img {
  width: 100%;
  display: block;
}

.con {
  margin-right: auto;
  margin-left: auto;
}

/* 라이브러리 끝 */

/* 커스텀 시작 */
.con {
  width: 1200px;
}

.top-bar {
  background-color: lightslategray;
}

.top-bar>.con>div:first-child {
  width: 245px;
}

.top-bar>.con>div:nth-child(2) {
  width: calc(100% - 245px - 590px);
}

.top-bar>.con>div:last-child {
  width: 590px;
}

.top-bar__logo {
  font-size: 1.4rem;
  padding: 10px;
}

.top-bar__menu-box>ul>li {
  font-size: 16px;
  letter-spacing: 1px;
  position: relative;
}

.top-bar__menu-box ul>li>a {
  padding: 16px 20px;
  display: block;
}

.top-bar__menu-box ul>li:hover>a {
  color: white;
  background-color: #3d5367;
}


.top-bar__menu-box>ul>li>ul {
  background-color: lightslategray;
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
}

.top-bar__menu-box>ul>li:hover>ul {
  display: block;
}

/* section-0 */
.section-0 {
  margin-top: 20px;
}

/* work-list-box */

.work-list-box>ul {
  margin-left: -10px;
  margin-right: -10px;
}

.work-list-box>ul>li {
  width: calc(100% / 3);
  padding: 0 10px;
  margin-top: 20px;
}

.work-list-box>ul>li>div>.work-name {
  padding-top: 10px;
  text-align: center;
}


.work-list-box>ul>li>div>.work-date-period {
  padding-top: 5px;
  text-align: center;
}

.work-list-box>ul>li>div>.img-box {
  position: relative;
  overflow: hidden;
}

.work-list-box>ul>li>div>.img-box>.bg {
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  transition: background-color 1s;
}

.work-list-box>ul>li:hover>div>.img-box>.bg {
  background-color: rgba(0, 0, 0, 0.7);
}

.work-list-box>ul>li>div>.img-box>img {
  transition: transform 1s;
  z-index: -1;
  position: relative;
}

.work-list-box>ul>li:hover>div>.img-box>img {
  transform: scale(1.4);
}

.work-list-box>ul>li>div>.img-box>.text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  border: 3px solid white;
  padding: 13px;
  border-radius: 15px;
  opacity: 0;
  transition: opacity 1s;
}

.work-list-box>ul>li:hover>div>.img-box>.text {
  opacity: 1;
}